*{
    margin: auto;
    padding: 0%;   
}


header h1 {
    background-color: plum;
    padding: 40px;
    color: white;
    text-align: center;
    font-size: 30px;
    position: fixed;
    border-bottom: green solid 10px;
    width: 100%;

}

a{
    color: black;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
li {
    list-style-type: none;
}

nav ul {
    background-color: gray;
    border-bottom: turquoise solid 15px;
    width: 100%;
    color: white;
    display: flex;
    text-align: right;
    padding-top: 125px;
   
}
 

.content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: lightblue;
   

}

.Bio {
    background-color: cornflowerblue;
    border: teal solid 10px;
    padding: 40px;
    width: 33%;
}

.Photo {
    background-color: lightblue;
    text-align: center;
    padding: 40px;
    width: 33%;
}

.Bio header {
        color: white;
        background-color: orange;
}


.Sign-up {
    background-color: lightpink;
    padding: 40px;
    border: black solid 15px;
    width: 33%

}

form.form-example {
    display: table;
}

.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 20px;
}